# Default owner
* @dyingday

# Public API
/src/main/java/com/dyingday/dronecraft/api/ @dyingday

# Documentation
/docs/ @dyingday
/docs-internal/ @dyingday

# Build & tooling
/build.gradle @dyingday
/settings.gradle @dyingday
/gradle/ @dyingday

# GitHub config
/.github/ @dyingday
